html body {
    font-family: Special Elite;
    background-color: whitesmoke;
}


h1 {
    font-size: 4rem;
    color: black;
}


img{
    max-width: 100%;
    box-shadow: 10px 10px 5px darkgray;
    padding: 20px 20px 80px 20px;
    cursor: pointer;
    background-color: white;
}

header {
    background-image: url("./Seascapes/marina.jpg");
    height: 100vh;
    min-height: 400px;
    background-size: cover;

}

span {
    color: maroon;
}

.navbar .container .collapse .navbar-nav .nav-link {
    color: black;
    font-size: 18px;

}

.navbar .container .navbar-brand {
    color: black;
    font-size: 30px;
}



.nav li a {
    color: black;
}

footer .container .sec p {
    color: black;
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px
}

footer .container .sec h2 {
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .sec h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
}


.quicklinks {
    color: black;
}

.quicklinks a {
    color: black;
    font-size: 40px;
    position: relative;
    list-style: none;
    width: 48px;
    height: 48px;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

.quicklinks a:hover {
    color: teal;
}


.contact {
    color: black;
    text-decoration: none;
}

.contact a i {
    font-size: 40px;
    color: black;
}

.contact a i:hover {
    color: teal;
}





.contact a:hover {
    color: tomato;

}

.copyrighttext {
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    color: black;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

