html body {
    background: lightseagreen;
    font-family: SansSerif;
}

#nav{
    background: lightseagreen;
}

img{
    max-width: 100%;
    border-radius: 3%;
    box-shadow: 10px 10px 5px teal;
    cursor: pointer;
}

#gallery-popup .modal-img {
    width: 100%;
}


.btnn{
    box-shadow: 2px 2px 2px 2px teal;
    font-style: italic;
}

