html {
    background-color: orangered;
}

body {
    color: bisque;
    font-size: medium;
    font-family: Verdana;
}

h1, h2, h3 {
    font-style: italic;
}

img {
    width: 50%;
    height: 50%;
}